{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/topbar.css' %}" >
</head>

<div class="main-container">
<div style="margin-bottom: 1%;" class="searchbarcomplete">
    <header>
        <center>
            <nav>
                <a href="{% url 'home' %}">Home</a>
                
                {% if request.user.is_authenticated %}
                    <a href="{% url 'user-groups' %}">Groups</a>
                    <a href="{% url 'track-view' request.user.username %}"> Gymtrack</a>
                    <a href="{% url 'profile-view' request.user.username %}">{{request.user.username}}</a>
                    <a href="{% url 'logout-page' %}" > Logout</a>
                {% else %}
                    <a href="{% url 'login-page' %}">Login</a>
                {% endif %}
                <div id="indicator"></div>
            </nav>
        </center>
    </header>

    <div class="box">
        <form method="GET" action="{% url 'home' %}" >
            <input type="text" id="searchbar" name="q" placeholder="Search for groups..."/>
        </form>
    </div>
</div>
